@import './colors';
@import './reusable';
@import './header';
@import './circle';

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 7vh, 7vw;
    background-image: linear-gradient($bg-grad-1, $bg-grad-2);
    @include flex(column);
}

.rules-button {
    border: 1.5px solid white;
    border-radius: 2*$radius;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    letter-spacing: 0.1rem;
    padding: 0.5em 1.8em;
    margin: 10vh;
}

.result {
    h1 {
        color: white;
    }
    button {
        color: $dark-text;
        background-color: white;
        border-radius: $radius;
        border: none;
        padding: 10px 40px;
    }
}

.hidden {
    visibility: hidden;
    position: absolute;
}