@import './colors';
@import './reusable';
@import './header';
@import './circle';
@import './buttons';

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

body {
    margin: 0 auto;
    // height: 100vh;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient($bg-grad-1, $bg-grad-2);
}

.container {
    width: 100vw;
    height: 100vh;
    @include flex(column);
}

.result h1 {
    color: white;
}

// .options {
//     background-image: url('../images/bg-triangle.svg');
//     background-repeat: no-repeat;
//     background-position: center;

// }

.hidden {
    visibility: hidden;
    position: absolute;
}